*{margin:0;padding:0;}
body{
    background-color: black;
    color:white;
}
p{display: inline;}
.wall{background-color: blue;}
.gstwall{
    background-color: blue;
    opacity: 0.4;
}
#wrap{
    font-size: 0;
}
#map{
    height: 630px;
    width: 810px;
}
.mpel{
    display: inline-block;
    height: 30px;
    width: 30px;
    padding:0;
    margin:0;
}

.bills{
    background-image:url("../images/money.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.trmpaghast{
    background-image: url('../images/trumpaghast.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.trumprt{
    background-image: url('../images/trump_ani_rt.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.trumplft{
    background-image: url('../images/trump_ani_lft.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.trumpup{
    background-image: url('../images/trump_ani_up.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.trumpdn{
    background-image: url('../images/trump_ani_dn.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ch11{
    background-image: url('../images/ch11.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.potus{
    background-image: url('../images/POTUS.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.casino{
    background-image: url('../images/taj_ani.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.putin{
    background-image: url('../images/putin.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.davidduke{
    background-image: url('../images/davidD.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.vfox{
    background-image: url('../images/vicente_fox.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
